body {
    margin: 0;
    padding: 0;
    background-color: black;
}
.resting-app {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    transition: opacity 0.3s ease;
}